@font-face {
  font-family: 'Wordand';
  src:  url('../fonts/Wordand.eot?nf33js');
  src:  url('../fonts/Wordand.eot?nf33js#iefix') format('embedded-opentype'),
    url('../fonts/Wordand.ttf?nf33js') format('truetype'),
    url('../fonts/Wordand.woff?nf33js') format('woff'),
    url('../fonts/Wordand.svg?nf33js#Wordand') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.wl {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Wordand' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wl-crosshairs:before {
  content: "\e901";
}
.wl-location-pin:before {
  content: "\e900";
}
.wl-parking:before {
  content: "\e000";
}
.wl-clipboard:before {
  content: "\e001";
}
.wl-lawyer:before {
  content: "\e002";
}
.wl-legal-documents:before {
  content: "\e003";
}
.wl-for-sale-1:before {
  content: "\e004";
}
.wl-tree-1:before {
  content: "\e012";
}
.wl-tree-2:before {
  content: "\e013";
}
.wl-shower:before {
  content: "\e014";
}
.wl-sofa:before {
  content: "\e015";
}
.wl-chair:before {
  content: "\e016";
}
.wl-tree:before {
  content: "\e018";
}
.wl-commission-male:before {
  content: "\e01b";
}
.wl-commission-female:before {
  content: "\e01c";
}
.wl-agent-male:before {
  content: "\e01d";
}
.wl-agent-female:before {
  content: "\e01e";
}
.wl-truck:before {
  content: "\e022";
}
.wl-interest-rate:before {
  content: "\e01f";
}
.wl-bank:before {
  content: "\e020";
}
.wl-lock:before {
  content: "\e021";
}
.wl-shopping-cart:before {
  content: "\e023";
}
.wl-home:before {
  content: "\e024";
}
.wl-real-estate:before {
  content: "\e025";
}
.wl-renovation:before {
  content: "\e026";
}
.wl-for-sale:before {
  content: "\e027";
}
.wl-lighting:before {
  content: "\e028";
}
.wl-finding:before {
  content: "\e029";
}
.wl-scale-weight:before {
  content: "\e02a";
}
.wl-dimensions:before {
  content: "\e02b";
}
.wl-piggy-bank:before {
  content: "\e02c";
}
.wl-share:before {
  content: "\e006";
}
.wl-close:before {
  content: "\e007";
}
.wl-heart:before {
  content: "\e005";
}
.wl-heart-outline:before {
  content: "\e008";
}
.wl-facebook:before {
  content: "\e009";
}
.wl-facebook-1:before {
  content: "\e00a";
}
.wl-twitter:before {
  content: "\e00b";
}
.wl-pinterest:before {
  content: "\e00d";
}
.wl-whatsapp:before {
  content: "\e00e";
}
.wl-eye:before {
  content: "\e00f";
}
.wl-thermometer:before {
  content: "\e010";
}
.wl-calendar:before {
  content: "\e011";
}
.wl-road:before {
  content: "\e017";
}
.wl-map:before {
  content: "\e019";
}
.wl-direction-sign:before {
  content: "\e01a";
}
.wl-globe:before {
  content: "\e02d";
}
.wl-link:before {
  content: "\e02f";
}
.wl-anchor:before {
  content: "\e02e";
}
.wl-telephone:before {
  content: "\e030";
}
.wl-cellphone:before {
  content: "\e031";
}
.wl-skype:before {
  content: "\e032";
}
.wl-instagram:before {
  content: "\e033";
}
.wl-linkedin:before {
  content: "\e034";
}
.wl-org:before {
  content: "\e035";
}
.wl-mail:before {
  content: "\e036";
}
