.wordland-tabs {
    display: flex;
    width: 100%;
}

.wordland-tabs .tab a, .wordland-tabs .tab span {
    display: block;
    padding: 5px 20px
}

@media(min-width: 768px) {
    .wordland-list {
        display: flex;
        flex-wrap: wrap;
    }
    .wordland-list.columns-4 .property {
        width: 50%;
    }
}

@media(min-width: 992px) {
    .wordland-list.columns-4 .property {
        width: 25%;
    }
}
